{% extends 'admin/base.html' %}

{% block title %}
    Admin Dashboard
{% endblock %}


{% block content %}
    {% with msgs = get_flashed_messages(with_categories=True) %}
        {% for c, msg in msgs %}
            {% if c == 'error' %}
                <div class="flash-error">
                    {% else %}
                        <div class="success">
                            {% endif %}
                            {{ msg }}
                        </div>
                        <br>
        {% endfor %}
    {% endwith %}

    {% if not orders %}
        <div class="flash-error">No orders have been placed</div>
    {% else %}
        <table class="table table-striped">
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Order Items</th>
                <th>Order Status</th>
                <th>Operations</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>
                        {% for i in order.items %}
                            {{ i.item.name }} X <span class="success">{{ i.quantity }}</span>

                        {% endfor %}
                    </td>
                    <td>{{ order.status }}</td>
                    <td><a href="{{ url_for('admin.edit', type='order', id='order.id') }}">&#9998;</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}